body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.nav-wrapper {
  position: absolute;
  margin: 0;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* give padding and such */
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* make into 3 buttons?
  Home | Resume | Contact
  With vertical lines between */

.nav-content {
  text-align: center;
}
