/* look into other fonts and such, as well as all the other cs things going on in here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Change background color from blue, just for testing rn
  Also plan to implement dark and light mode, probably do through
  use state? seems clunky though, look into better options */
.page {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

.nav-wrapper {
  position: absolute;
  margin: 0;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* give padding and such */
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* make into 3 buttons?
  Projects | Resume | Contact
  With vertical lines between */

.nav-content {
  text-align: center;
}

.face-wrapper {
  position: absolute;
  width: 20vw;
  min-width: 200px;
  /* add max-height and width */
  height: 50vh;
  min-height: 350px;
  border-color: black;
  border-style: solid;
  overflow: hidden;
  margin: 0;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* figure out how to center image in div */
.face-wrapper :hover {
  cursor: pointer;
}

.face {
  max-height: 100%;
  max-width: 100%;
  position: inherit;
}

/* Page Plans:
    Home - general summary of me including generalized bit of resume, keep simple but don't leave the screen barren. Also have photo of self
           Also have links to things in home.
    Projects - List of projects w/ descriptions, what it was made with, and links
    Resume - Try to link to something? figure out, better to do this than need to update manually every time
    Contact - all contact info and other important links */

/* Navigation:
    Home - have my photo top right? maybe just house icon
    Projects - navbar
    Resume - navbar
    Contact - navbar */

/* Dark Mode:
    Button in top left or right? always there, part of the "header" of the page */

/* General look:
    Don't want to copy other websites that I've seen but hard to come up with something purely original
    Probably just put everything in a rectangle and have something going on in the background
    Maybe a cool scroll effect but keep it subtle
    
    Plan for it to be intended to be dark mode, implement light mode later */